<div class="box">
  <div class="box-body">
    <div class="btnCol">
      <button id="btnFind" class="btn btn-info" (click)="find()">
        <i class="fa fa-search" aria-hidden="true"></i>
        查询
      </button>
      <button id="btnUpload" class="btn btn-info" (click)="openModal(template)">
        <i class="fa fa-upload" aria-hidden="true"></i>
        上载
      </button>
    </div>

    <!-- 表格 -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"></h3>

        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" [formControl]="fileFilterControl" class="form-control pull-right"
              placeholder="文件名">

            <div class="input-group-btn">
              <div class="btn btn-default" style="cursor:default">
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
            <!-- 用循环写就不行？表头竖排 -->
            <!-- <tr *ngFor="let col of cols">
              <th>{{col.header}}</th>
            </tr> -->
            <tr>
              <th>序号</th>
              <th>文件名</th>
              <th>标题</th>
              <th class="sorting">上传日期<a (click)="toggle('SCRQ')"><i [class]="sortClass"></i></a></th>
              <th>大小</th>
              <th>文件类型</th>
              <th>下载</th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let file of files | fileFilter: 'SWJM': keyWord | fileSort: sortField: isAsc; let i=index">
              <td>{{i+1}}</td>
              <td>{{file.SWJM}}</td>
              <td>{{file.STITLE}}</td>
              <td>{{file.SCRQ}}</td>
              <td>{{file.WJDX}}</td>
              <td>{{file.WJLX}}</td>
              <td>
                <a href="/EzaRest{{file.SPATH}}/{{file.SWJM}}"><i class="fa fa-download"></i>下载</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>

<!-- ng-x 模态框 -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">文件上传</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--上传-->
    <form action="UploadFile.ashx" method="post" enctype="multipart/form-data">
      <input type="file" name="fileUpload" />
      <input type="submit" value="上传文件" />
    </form>
  </div>
</ng-template>
