.btnCol{
  margin-bottom: 10px;
}

.inline{
  display: inline-block;
}

#btnFind
{
  /* position: absolute; */
  /* top:5px; */
  /* left:12px; */
  font-size:12px;
  z-index: 100;
  margin-right: 10px;
}

#btnUpload
{
  /* position: absolute; */
  /* top:5px; */
  /* left:85px; */
  font-size:12px;
  z-index: 100;
}
/*.box-body button:hover{*/
  /*cursor: pointer;*/
/*}*/

thead .sorting{
  cursor: pointer;
}

thead i{
  margin-left:5px;
}

.mr_left{
  margin-left: 200px;
}